* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */

.active {
    text-decoration: none;
    color: black;
}

/* FINE COMMON  */

#logo_sony {
    height: 30px;
    background-color: black;
}

#nav_play{
    height: 80px;
}

#logo_sony a svg {
    float: right;
    height: 30px;
    padding: 8px; 
}

#nav_right .hamburger {
    position: relative;
    display: none;
    color: black;
}

#nav_right .hamburger .fa-hamburger {
    color: black;
}

@media (max-width: 992px) {

    #nav_right .hamburger {
        display: inline-block;
    }

    #nav_left .navbar_hidden,
    #nav_right .navbar_hidden {
        display: none;
    }
}

.jumbo{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 100vh;
}

.jumbo_text {
    position: absolute;
    bottom: 8%;
    left: 3%;
    color: white;
}

#section_1 .text_returnal{
    width: 40%;
}

.jumbo .jumbo_text .banner{
    background-repeat: no-repeat;
    background-position: left;
    background-size:contain;
}

#section_1 .returnal {
    background-image: url(../img/jumbo-bg.png);
}

#section_1 .jumbo_text .retur_nal{
    background-image: url(../img/returnal-hero-banner-logo.png);
    height: 80px;
}

.img_portfolio {
    width: 100%;
    border: 4px solid transparent;
    border-radius: 15px;
}

#portfolio .img-hover-button {
    position: relative;
    width:100%;
    border: 4px solid transparent;
    border-radius: 15px;
}

#portfolio .img-hover-button .fa-gavel,
#portfolio .img-hover-button .fa-user-astronaut {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 4.5em;
    display: none;
    z-index: 1;
    color: white;
}

#portfolio .img-hover-button .background-effect1,
#portfolio .img-hover-button .background-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    border: 4px solid white;
    border-radius: 15px;
}

#portfolio .img-hover-button:hover .fa-gavel,
#portfolio .img-hover-button:hover .fa-user-astronaut {
    display:inline-block;
    font-size: 3em;
}

#portfolio .img-hover-button:hover{
    border: 4px solid #6397d0;
    border-radius: 15px;
}

#portfolio .img-hover-button:hover .background-effect1,
#portfolio .img-hover-button:hover .background-effect {
    transition-duration: 0.4s;
    transition-timing-function: ease;
    border-radius: 15px;
}

#portfolio .img-hover-button:hover .background-effect {
    background-color: rgba(0, 100, 100, 0.4);
}

#portfolio .img-hover-button:hover .background-effect1 {
    background-color: rgba(143, 0, 255, 0.4);
}

#playstation_console {
    margin-top: 120px;
}

#play5 {
    width: 90%;
    margin: 0 auto;
}

#playstation_console img {
    width: 100%;
    
}

@media (max-width:768px) {
    #playstation_console #console_text{
        text-align: center; 
        padding-top: 20px;
    }
}

@media (max-width:992px) {
    #playstation_console #play5{
        margin-top: 40px;
    }
}

#playstation_console #play_items .effect {
    border-bottom: 4px solid transparent;
    border-right: 2px solid transparent;
    border-left:2px solid transparent;
    border-top: 2px solid transparent; 
    transition-duration: 0.4s;
    transition-timing-function: ease;
    filter: opacity(0.5);
    border-radius: 10px;
}

#playstation_console #play_items .effect:hover {
    border-bottom: 4px solid #4070FF;
    border-radius: 10px;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    filter: none
}


#section_4 .it_takes {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

#section_4 .takes_two {
    background-image: url(../img/it-takes-two-logo.png);
    height: 160px;
}

.it_takes .takestwo_text {
    width: 32%;
}

@media (max-width: 992px) {

    #section_4 .jumbo .takestwo_text,
    #section_1 .jumbo .text_returnal {
        width: 90%;
    }

    #section_4 .takes_two {
        height: 300px;
    }
}

