* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */

.active {
    text-decoration: none;
    color: black;
}

.active_w {
    text-decoration: none;
    color: white;
}

/* FINE COMMON  */

#logo_sony {
    height: 30px;
    background-color: black;
    width: 100vw;
}

#nav_play, 
.sticky{
    height: 70px;
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 1100;
}


#logo_sony a svg {
    float: right;
    height: 30px;
    padding: 8px; 
}

header #nav_right #hamburger {
    display: none;
    color: black;
}

header #nav_right #hamburger .fa-hamburger {
    color: black;
}

header #hamburger_dropdown ul li{
    list-style-type: none;
}

@media (max-width: 992px) {

    header #nav_right #hamburger {
        display: inline-block;
    }

    header #nav_left .navbar_hidden,
    header #nav_right .navbar_hidden {
        display: none;
    }
}

header #hamburger_dropdown {
    width: 100vw;
    display: none;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    background-color: white;
    max-height: 268px;
    height: 100vh;
}

header #nav_right #hamburger:active #hamburger_dropdown {
    display: inline-block;
}

.jumbo{
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.jumbo .jumbo_text {
    color: white;
    z-index: 500;
}

.opacity_jumbo:not(.jumbo_text){
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
}

.returnal .text_returnal .banner img{
    width: 95%;
}

#section_1 .returnal {
    background-image: url(../img/jumbo-bg.png);
}

.img_portfolio {
    width: 100%;
    border: 4px solid transparent;
    border-radius: 15px;
}

#portfolio .img-hover-button {
    position: relative;
    width:100%;
    border: 4px solid transparent;
    border-radius: 15px;
}

#portfolio .img-hover-button .fa-gavel,
#portfolio .img-hover-button .fa-user-astronaut {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 4.5em;
    display: none;
    z-index: 1;
    color: white;
}

#portfolio .img-hover-button .background-effect1,
#portfolio .img-hover-button .background-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    border: 4px solid white;
    border-radius: 15px;
}

#portfolio .img-hover-button:hover .fa-gavel,
#portfolio .img-hover-button:hover .fa-user-astronaut {
    display:inline-block;
    font-size: 3em;
}

#portfolio .img-hover-button:hover{
    border: 4px solid #6397d0;
    border-radius: 15px;
}

#portfolio .img-hover-button:hover .background-effect1,
#portfolio .img-hover-button:hover .background-effect {
    transition-duration: 0.4s;
    transition-timing-function: ease;
    border-radius: 15px;
}

#portfolio .img-hover-button:hover .background-effect {
    background-color: rgba(0, 100, 100, 0.4);
}

#portfolio .img-hover-button:hover .background-effect1 {
    background-color: rgba(143, 0, 255, 0.4);
}


#play5 {
    width: 90%;
    margin: 0 auto;
}

#playstation_console img {
    width: 100%;
}

@media (max-width:768px) {
    #playstation_console #console_text{
        text-align: center; 
        padding-top: 20px;
    }
}

@media (max-width:992px) {
    #playstation_console #play5{
        margin-top: 40px;
    }
}

#playstation_console #play_items .effect {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    filter: opacity(0.5);
    border-radius: 10px;
}

#playstation_console #play_items .effect:hover {
    border-bottom: 4px solid #4070FF;
    border-top: 4px solid #4070FF;
    border-radius: 10px;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    filter: none
}

#playstation_console #play_items .effect:hover .img_play5 {
    filter: drop-shadow(5px 5px 2px grey);
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

#section_4 .it_takes {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

#section_4 .it_takes .takestwo_text .banner img {
    width: 70%;
}


#section_5 {
    background-color: #1E1E1E;
    color: white;
}

.img_newgames {
    width: 100%;
    border-radius: 20px;
    padding: 8px;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    filter: opacity(0.7);
}

.img_newgames:hover {
    padding: 0;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    filter: none;
}

#section_6 #play4_items img{
    width: 100%;
}

#section_7{
    background-color: #BEBCBB;
    color: black;
}

#section_7 img:first-child {
    width: 60%;
}

#section_7 img:last-child {
    width: 90%;
}

#section_7 .row a{
    background-color: lightgray;
    text-decoration: none;
}

@media (max-width: 767px) {
    #monthly_games{
        display: none;
    }
}

#section_8 #play_store img {
    width: 100%;
}

#section_9 {
    background-color: #0A1432;
    color: white;
}

#section_9 img:first-child {
    width: 70%;
}

#section_9 img:last-child {
    width: 90%;
}

#section_9 .row a{
    background-color: white;
    text-decoration: none;
}


#section_10 #media img{
    width: 100%;
}

@media (max-width: 767px) {
    .monthly_games{
        display: none;
    }
}

footer{
    background-color: #00439C;
    color: white;
}

footer img {
    width: 25%;
}