* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */

.active {
    text-decoration: none;
    color: black;
}

.active_w {
    text-decoration: none;
    color: white;
}

.jumbo{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    height: 100vh;
    width: 100vw;
}

.jumbo .jumbo_text {
    color: white;
    z-index: 500;
}

.opacity_jumbo:not(.jumbo_text){
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

header ::marker{
    list-style-type: none;
}

/* FINE COMMON  */

.container-fluid #logo_sony {
    height: 30px;
    background-color: black;
}

#logo_sony a svg {
    padding: 6px; 
}

header.sticky{
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 1100;
}

header .nav_bar_menu {
    width: 100vw;
}

header #nav_right #hamburger .fa-hamburger,
header #nav_right #hamburger {
    color: black;
}

header #hamburger_dropdown {
    width: 100vw;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    background-color: white;
}

#section_1 .returnal .text_returnal .banner img{
    width: 95%;
}

#section_1 .returnal {
    background-image: url(../img/jumbo-bg.png);
}

#section_2 .img_portfolio {
    width: 100%;
    border: 4px solid transparent;
    border-radius: 15px;
}

#section_2 .img-hover-button {
    position: relative;
    width:100%;
    border: 4px solid transparent;
    border-radius: 15px;
}

#section_2 .img-hover-button .fa-gavel,
#section_2 .img-hover-button .fa-user-astronaut {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 4.5em;
    display: none;
    z-index: 1;
    color: white;
}

#section_2 .img-hover-button .background-effect1,
#section_2 .img-hover-button .background-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    border: 4px solid white;
    border-radius: 15px;
}

#section_2 .img-hover-button:hover .fa-gavel,
#section_2 .img-hover-button:hover .fa-user-astronaut {
    display:inline-block;
    font-size: 3em;
}

#section_2 .img-hover-button:hover{
    border: 4px solid #6397d0;
    border-radius: 15px;
}

#section_2 .img-hover-button:hover .background-effect1,
#section_2 .img-hover-button:hover .background-effect {
    transition-duration: 0.4s;
    transition-timing-function: ease;
    border-radius: 15px;
}

#section_2 .img-hover-button:hover .background-effect {
    background-color: rgba(0, 100, 100, 0.4);
}

#section_2 .img-hover-button:hover .background-effect1 {
    background-color: rgba(143, 0, 255, 0.4);
}

#section_3 #play_items .effect {
    border-bottom: 4px solid transparent;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    filter: opacity(0.5);
    border-radius: 10px;
}

#section_3 #play_items .effect:hover {
    border-bottom: 4px solid #4070FF;
    border-radius: 10px;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    filter: none
}

#section_3 #play_items .effect:hover .img_play5 {
    filter: drop-shadow(5px 5px 2px grey);
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

#section_4 .it_takes {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

#section_5 {
    background-color: #1E1E1E;
    color: white;
}

#section_5 #new_games .img_newgames {
    border-radius: 20px;
    transition-duration: 0.2s;
    padding: 6px;
    transition-timing-function: ease;
    filter: opacity(0.7);
}

#section_5 #new_games .img_newgames:hover {
    padding: 0;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    filter: none;
}

#section_7{
    background-color: #BEBCBB;
    color: black;
}


#section_9 {
    background-color: #0A1432;
    color: white;
}

#section_7 img:first-child,
#section_9 img:first-child {
    width: 60%;
}

#section_7 img:last-child,
#section_9 img:last-child {
    width: 90%;
}

footer{
    background-color: #00439C;
    color: white;
}
